
/* 段落间距 */
.content p:not(:last-child),
.content dl:not(:last-child),
.content ol:not(:last-child),
.content ul:not(:last-child),
.content blockquote:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child) {
  margin-bottom: 2em;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  line-height: 2;
}


/* 文章高亮 */
article strong{
	background: rgba(255,212,0,0.14);
	border-bottom: 1.5px solid rgb(255, 212, 0);
  font-weight: 500
}

/* 文章图片最大高度 */
.post-page .post-content img {
  max-height: 1000px;
}

/* 涉及tag的代码片段背景 */
.tag:not(body){
  background-color: transparent;
}

/* read more */
.button.is-default.mt-2.has-text-weight-semibold{
  font-size: 0.8rem;
}

/* 链接样式 */
/* .post-page .post-content a {
  text-decoration: solid 1px #F2CA44;
  color: #3273dc;
} */

/* 代码样式 */
code{
  color: #5c5c5c;
}

/* 代码框优化 */
pre[class*=language-]{
  border-radius: 5px;
}

pre[class*=language-]::before {
  content: "";
  height: 16px;
  margin-bottom: 0;
  display: block;
}

pre[class*=language-]::after {
  content: " ";
  position: absolute;
  border-radius: 50%;
  background: #ff5f56;
  width: 12px;
  height: 12px;
  top: 0;
  left: 12px;
  margin-top: 12px;
  -webkit-box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
  box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
}

/* 评论区 */
.utterances {
  padding-top: 20px;
}

/* 页脚 */
/* :root body > footer {
  margin: 0;
  background: #F2CA44;
} */


/* 文章结束后的按钮移动端隐藏 */
@media screen and (max-width: 770px){
  .jump-container.is-flex.is-justify-content-space-between.my-6{
    display: none !important;
  }


  /* 段落间距 */
  .content p:not(:last-child),
  .content dl:not(:last-child),
  .content ol:not(:last-child),
  .content ul:not(:last-child),
  .content blockquote:not(:last-child),
  .content pre:not(:last-child),
  .content table:not(:last-child) {
    margin-bottom: 2.2em;
  }

  .content h2, .content h3, .content h4, .content h5, .content h6 {
    line-height: 2.1;
  }

  footer span{
    font-size: 0.85em;
  }

}


/* 卡片风格 */
.rich-link-card {
  border: 1px solid #e6e6e6;
  margin: 20px 0;
  border-radius: 8px;
  width: 100%;
  display: flex;
  text-decoration: none;
  line-height: 1.5;
  align-items: center;
}

.rich-link-card-container {
  position: relative;
}

.rich-link-card .rich-link-image-container {
  height: 150px;
  min-width: 300px;
  overflow: hidden;
}

.rich-link-card .rich-link-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 8px;

}

.rich-link-card .rich-link-card-text {
  flex:1;
  width: 100%;
  min-width: 0;
  padding: 0.8em 1.2em;
  margin: 5px;

}

.rich-link-card .rich-link-card-title {
  font-size: 1em;
  margin: 0 0 4px 0 !important;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.rich-link-card .rich-link-card-description {
  font-size: 0.85em;
  margin: 0 !important;
  color: #77838c;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.rich-link-card .rich-link-href {
  font-size: 0.85em;
  margin: 0;
  color: var(--text-faint);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 520px){

  .content h1 {
    font-size: 1.18em;
  }

  .content h2 {
    font-size: 1.1em;
  }

  .post-content h2{
    text-align: center;
  }

  .post-content h3{
    font-size: 1.05em;
    white-space: normal;
    margin-top: 1.7em;
    margin-bottom: 1em;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: rgb(255, 191, 0);
    padding-right: 15px;
    padding-left: 15px;
  }

  .post-content h4, .post-content h5, .post-content h6 {
    font-size: 1em;
  }

  .rich-link-card {
    flex-direction: column;
  }

  .rich-link-card .rich-link-image-container {
    min-width: 100%;
    height: 100%;
  }

  .rich-link-card .rich-link-image {
    padding-bottom: 50%; 
}

}

